body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    width: 100%;
    text-align: left;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    align-self: stretch;
    text-align: left;
  }
  
  .emoji .icon {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: -1;
  }

  .emojis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
  .emoji p {
    text-align: left;
    margin: 0.5rem 0;
    flex-grow: 1;
  }
  